.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paper {
  z-index: 100;
  height: 40em;
  width: 30em;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 12px 12px;
}

.sample {
  position: relative;
  height: 15em;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.list2 {
  max-height: 100%;
  max-width: 100%;
}

.wrapRoot {
  max-width: 100%;
  max-height: 100%;
}

.avatar {
  border-radius: 50%;
}

.price {
  width: 100%;
  height: 3em;
}

.priceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.finishedItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  overflow: auto;
}

.finishedArt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40vh;
}
