.icon {
  margin-right: 8px;
}

.item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.notifitem {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.notifInfo {
  flex-direction: column;
  margin-right: 80px;
  word-wrap: break-word;
}

.avatar {
  border-radius: 50%;
}
