.backdrop {
  position: relative;
  height: 16em;
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

.root {
  display: flex;
  flex-wrap: wrap;
}

.postContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.userContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapRoot {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.button {
  width: 12em;
}

.separator {
  margin-left: 12px;
  margin-right: 12px;
}

.button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.button:hover:after {
  width: 100%;
  left: 0;
}


.container {
  height: 80vh;
  max-height: 80%;
  width: 100vw;
  max-width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: auto;
}
