.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.categoryContainer {
  margin-top: 16px;
  margin-bottom: 16px; 
  height: 100%;
  width: 100%;
}

.searchBar {
  height: 10vh;
  text-align: center;
  font-size: x-large;
  box-shadow: 10px 11px 24px 2px rgba(58,50,50,0.81);
  border-radius: 50px 50px 50px 50px;
}

.divider {
  height: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 8px;
}

.card {
  width: 20em;
  margin-top: 8px;
}

.feature {
  margin-top: 16px;
  margin-bottom: 16px;
}

.tag {
  margin-top: 1.6px;
  margin-right: 1.6px;
}

.title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artContainer {
  display: flex;
  position: relative;
  height: 140px;
  width: 500px;
}

.avatar {
  border-radius: 50%;
}

.moreButton {
  width: inherit;
  height: 4em;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
