.root {
  height: 100vh;
}
.sideImage {
  position: relative;
}
.paper {
  margin: 64px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 100%;
  margin-top: 8px;
}
.submit {
  margin: 24px 0 16px;
}
