.root {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.listRoot {
  display: flex;
}

.listTile {
  background: darkcyan;
}

.titleBar {
  background: "linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, " +
    "rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)";
}

.category {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
  transition: all 0.2s ease-in-out;
}

.category:hover {
  transform: scale(1.1);
}
