.root {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

.listRoot {
  display: "flex";
}

.listTile {
  background: darkcyan;
}

.titleBar {
  background: "linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, " +
    "rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)";
}
